@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  color: #f0ece4;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 2px;
}
